@use "global" as *;

@layer components {
	.c-button {
		$this: &;
		--background-color: #121d59;
		--border-color: #121d59;
		--color: #{$color-white};
		--hover-background-color: #{$color-white};
		--hover-color: #121d59;
		--hover-border-color: #121d59;

		&.-white {
			--background-color: #{$color-white};
			--color: #121d59;
			--border-color: #{$color-white};
			--hover-background-color: #121d59;
			--hover-color: #{$color-white};
		}
		&.-orange {
			--background-color: #{$color-orange};
			--border-color: #{$color-orange};
			--color: #{$color-white};
			--hover-background-color: #{$color-white};
			--hover-border-color: #{$color-orange};
			--hover-color: #{$color-orange};
		}
		&.-liquid {
			#{$this}__link {
				width: 100%;
				min-width: 0;
			}
		}
		&.-md-liquid {
			#{$this}__link {
				@include mq(md) {
					width: 100%;
					min-width: 0;
				}
			}
		}
		&.-mv {
			#{$this}__link {
				min-height: 78px;
				min-width: 290px;
				padding-inline: 20px;
				font-size: rem(16);
				@include mq(md) {
					font-size: rem(14);
					min-height: 50px;
				}
			}
		}
		&.-tite {
			#{$this}__link {
				min-width: 164px;
			}
		}
		&.-c {
			#{$this}__link {
				margin-inline: auto;
			}
		}
		&__link {
			background-color: var(--background-color);
			color: var(--color);
			border-radius: $radius;
			min-height: 49px;
			min-width: 227px;
			font-size: rem(14);
			width: fit-content;
			padding-inline: 15px;
			text-decoration: none;
			display: flex;
			gap: 8px;
			align-items: center;
			text-align: left;
			cursor: pointer;
			font-weight: $fw-medium;
			border: 1px solid var(--border-color);
			transition: color $duration ease, background-color $duration ease,
				border-color $duration ease;

			@include hover {
				background-color: var(--hover-background-color);
				color: var(--hover-color);
				border-color: var(--hover-border-color);
			}

			&.is-processing {
				opacity: 0.6;
				cursor: not-allowed;
				pointer-events: none;
			}
		}
		&__label {
			flex-grow: 1;
		}
	}
}
