@use "global" as *;
@layer components {
	.c-page-body {
		container-type: inline-size;
		padding-inline: var(--page-gutter);

		&__inner {
			max-width: $width-content-xs;
			margin-inline: auto;
		}
	}
}
