// CSS Cascade Layers定義
// FLOCSSとTailwindの優先順位を管理
@layer base, layouts, components, pages, utilities;

// Tailwind v4 Config
// SassのPCファーストと合わせるためにデフォルト+1に調整

@theme {
	--spacing: 8px;
	--breakpoint-sm: 641px;
	--breakpoint-md: 769px;
	--breakpoint-lg: 1025px;
	--breakpoint-xl: 1281px;
	--breakpoint-2xl: 1537px;
}
