{% layout "_layouts/default.liquid" %}

{% block contents %}

<div class="p-top">

	<div class="p-top__mv">

		<div class="p-top-mv">
			<p class="c-text-marquee">
				<span class="c-text-marquee__label">Boilerplate.</span>
			</p>
		</div>
	</div>
	<div class="p-top__sample">
		<p><a href="/sample/">サンプル</a></p>
	</div>

</div>

{% endblock %}