{% layout "_layouts/default.liquid" %}
{% assign title = "ユニークなページタイトル" %}
{% assign description = "ユニークなページディスクリプション" %}

{% block contents %}

<div class="p-top">
	<div class="p-top__mv">
		<div class="p-top-mv">
			<h1 class="p-top-mv__title">Boilerplate</h1>
		</div>
	</div>
	<div class="p-top__todo">
		<div class="p-top-todo">
			<div class="p-top-todo__item"></div>
		</div>
	</div>
	<div class="p-top__examples">
		<h2>Liquid</h2>
		block全部
		パンクズ
		<h2 class="c-title-fill">CSS</h2>
		<ul class="c-list-disc">
			<li class="c-list-disc__item"><a href="/examples/tailwind.html">Tailwind</a></li>
			<li class="c-list-disc__item"><a href="/examples/svg-icons.html">SVG Icons</a></li>
		</ul>

	</div>
	<div class="p-top__components">
		タブ
		アコーディオン
		トグル
		アンカー
		フォーム
		カルーセル
		ボタン
		カード
		モーダル
	</div>
	<p class="p-top__hoge text-sky-100">hoge</p>
	<p>foo</p>
	<p class="text-sky-200">piuyo</p>
</div>

{% endblock %}