@use "../mixin/" as *;
@use "../variable-sass/" as v;

:root {
	--page-gutter: 80px;
	--leading-trim: calc((1em - 1lh) / 2);
	--bleed: min(
		calc((((100vw - var(--scrollbar, 0)) - #{v.$width-content}) / 2) * -1),
		calc(var(--page-gutter) * -1)
	);

	@include mq(lg) {
		--page-gutter: 40px;
	}

	@include mq(md) {
		--page-gutter: 12px;
	}
}
