@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "../variable-sass/" as var;

@function _bp-min($key) {
	@if (map.get(var.$breakpoints, $key)) {
		@return map.get(var.$breakpoints, $key) + 1;
	} @else {
		@return $key;
	}
}

@function _bp-max($key) {
	@if (map.get(var.$breakpoints, $key)) {
		@return map.get(var.$breakpoints, $key);
	} @else {
		@return $key;
	}
}

@function _build-condition($point, $min) {
	@if (meta.type-of($point) == list) {
		$bp1: _bp-min(list.nth($point, 1));
		$bp2: _bp-max(list.nth($point, 2));
		@return "(width >= #{$bp1}) and (width <= #{$bp2})";
	} @else if ($min) {
		$bp: _bp-min($point);
		@return "(width >= #{$bp})";
	} @else {
		$bp: _bp-max($point);
		@return "(width <= #{$bp})";
	}
}

@mixin _query($condition, $type) {
	@if ($type == "media") {
		@media #{$condition} {
			@content;
		}
	} @else {
		@container #{$condition} {
			@content;
		}
	}
}

@mixin mq($point, $min: false) {
	$condition: _build-condition($point, $min);
	@include _query($condition, "media") {
		@content;
	}
}

@mixin cq($point, $min: false) {
	$condition: _build-condition($point, $min);
	@include _query($condition, "container") {
		@content;
	}
}
