{% extends '_layouts/_default.njk' %}
{% set pageTitle = 'Boilerplate for static website' %}
{% set pageDescription = '' %}
{% set pagekeywords = '' %}

{% block css -%}{% endblock %}

{% block contents -%}

<main class="main">
	<h1>CHILD</h1>
</main>
{%- endblock %}

{% block js -%}{% endblock %}
