<article class="feature-card">
  <div class="feature-card__icon">
    <i class="icon-{{ feature.icon }}"></i>
  </div>
  <h3 class="feature-card__title">{{ feature.title }}</h3>
  <p class="feature-card__description">{{ feature.description }}</p>
</article>