<footer class="l-site-footer">
	<div class="l-site-footer__inner">
		<div class="l-site-footer__header">
		</div>
		<div class="l-site-footer__body">
		</div>
		<div class="l-site-footer__footer">
			<p class="l-site-footer__copyright"><small>Copyright</small></p>
		</div>
	</div>
</footer>
