<div class="c-button -header-menu">
	<a href="{{ href }}" class="c-button__link">
		<span class="c-button__icon-left">
			{% render "_icon", name: icon, size: icon_size %}
		</span>
		<span class="c-button__label">{{ label }}</span>
		<span class="c-button__icon-right">
			{% render "_icon", name: "arrow_right", size: 19 %}
		</span>
	</a>
</div>