<header class="site-header">
	<div class="site-header__inner">
		<div class="site-header__logo">
			<h1 class="header-logo"><a href="/">{{ site.name }}</a></h1>
		</div>
		<div class="site-header__nav">
			{% include '_components/_nav.liquid' %}
		</div>
	</div>
	<div class="site-header__menu-button">
		<button class="site-menu-button">
			<span class="site-menu-button__top"></span>
			<span class="site-menu-button__middle"></span>
			<span class="site-menu-button__bottom"></span>
		</button>
	</div>
</header>