<div class="l-site-nav__child" id="{{ id }}">
	<div class="l-site-nav__child-inner">
		<div class="l-site-nav-child">
			<div class="l-site-nav-child__inner">
				<p class="l-site-nav-child__title">{{ title }}</p>
				<div class="l-site-nav-child__body">
					<figure class="l-site-nav-child__thumb">
						<img src="{{ image }}" alt="" width="266" height="150">
					</figure>
					{{ body }}
				</div>
			</div>
		</div>
	</div>
</div>
