<div class="c-pagination">
	<div class="c-pagination__inner">
		<div class="c-pagination__list">
			<div class="c-pagination__page">
				<a href="#" class="c-pagination__page-link -current">01</a>
			</div>
			<div class="c-pagination__page">
				<a href="#" class="c-pagination__page-link">02</a>
			</div>
			<div class="c-pagination__page">
				<a href="#" class="c-pagination__page-link">03</a>
			</div>

			<div class="c-pagination__page">
				<span class="c-pagination__page-dots">...</span>
			</div>
			<div class="c-pagination__page">
				<a href="#" class="c-pagination__page-link">10</a>
			</div>
		</div>
	</div>
</div>
