@use "../../global" as *;

@layer components {
	.c-input-checkbox {
		$this: &;
		display: flex;
		gap: 4px;
		width: fit-content;
		cursor: pointer;

		&__icon {
		}

		&__label {
			font-size: rem(14);
			line-height: $lh;
		}

		&__group {
			display: grid;
			gap: 4px;
		}
	}
}
