@use "../../global" as *;

@layer components {
	.c-input-text {
		&__field {
			width: 100%;
			border-radius: $radius-s;
			background-color: #ebebeb;
			border: none;
			font-size: rem(14);
			padding: 6px 10px;

			@include mq(md) {
				font-size: rem(16);
			}
		}
	}
}
